networks:
  backend:
    driver: bridge

volumes:
  mysql-database:
    driver: local

services:
  ### PHP MyAdmin ##################################
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    ports:
      - "${PHPMYADMIN_PORT:-8888}:80"
    environment:
      PMA_HOST: mysql80
      PMA_USER: ${MYSQL_USER:-mysql_user}
      PMA_PASSWORD: ${MYSQL_PASSWORD:-mysql_password}
    networks:
      - backend
    depends_on:
      mysql:
        condition: service_healthy

  ### DATABASE MySQL ##################################
  mysql:
    container_name: mysql80
    image: mysql:8.0
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-mysql_root_password}
      MYSQL_USER: ${MYSQL_USER:-mysql_user}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-mysql_password}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-mysql_database}
    volumes:
      - mysql-database:/var/lib/mysql
      - ./dump:/dump
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "${MYSQL_PORT:-3306}:3306"
    networks:
      - backend
    healthcheck:
      test: mysqladmin ping
      interval: 3s
      timeout: 3s
      retries: 3
